<IfModule mod_headers.c>
  Header always set Content-Security-Policy-Report-Only "\
base-uri 'self'; \
default-src 'self'; \
font-src 'self' https://maxcdn.bootstrapcdn.com; \
object-src 'none'; \
report-uri /csp_report.php; \
require-trusted-types-for 'script'; \
script-src 'self' https://unpkg.com; \
style-src 'self' 'sha256-ky1vNDEhXAiA+SwTw9ePEpd+zAT/z8uPcWf1Yw5+J5c=' https://cdn.jsdelivr.net"
</IfModule>

