<!DOCTYPE html>

<html lang="bg">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Къде след 7 клас?</title>
<meta name="author" content="Георги Д. Сотиров &lt;gdsotirov@gmail.com&gt;">
<meta name="description" content="Къде след 7 клас показва възможното класирне на ученика след 7 клас">
<meta name="keywords" content="класиране, 7 клас, бал">
<meta name="robots" content="INDEX, FOLLOW">
<meta name="robots" content="NOARCHIVE">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<link rel="stylesheet" href="styles/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js/7klas_app.js"></script>
<script src="js/7klas_ctrl.js"></script>
</head>

<body ng-app="7klas_app" ng-controller="7klas_ctrl">
<h1>Къде след 7 клас?</h1>
<p>Къде след 7 клас показва възможното класиране на ученика след 7 клас въз
основа на информация за балообразуващите оценки и резултатите от
<abbr title="Национално Външно Оценяване">НВО</abbr> по
<abbr title="Български Език и Литература">БЕЛ</abbr> и Математика
съпоставени към класацията по минимален бал на прием на училищата в
София-град за учебната 2018/2019 година.</p>

<div>

<div class="buttons">
<button ng-click="addStudent()">&#9998; Добавяне на ученик</button>
</div>

<form ng-hide="hideform">
<h2 ng-show="edit">Данни за ученика</h2>

<label for="stName">Име:</label>
<input id="stName" type="text" ng-model="stName" ng-disabled="!edit"
maxlength="64" size="32" placeholder="Име">
<br>

<label for="stNEABEL">Резултат от <abbr title="Национално Външно Оценяване">НВО</abbr> по
<abbr title="Български Език и Литература">БЕЛ</abbr>:</label>
<input id="stNEABEL" type="text" ng-model="stNEABEL" size="16" placeholder="от 0.0 до 100.00">
<br>

<label for="stNEAMAT">Резултат от <abbr title="Национално Външно Оценяване">НВО</abbr> по Математика:</label>
<input id="stNEAMAT" type="text" ng-model="stNEAMAT" size="16" placeholder="от 0.0 до 100.00">
<br>

<label for="stSubj1">Оценка предмет №1:</label>
<input id="stSubj1" type="number" ng-model="stSubj1" min="3" max="6" placeholder="от 2 до 6">
<br>

<label for="stSubj2">Оценка предмет №2:</label>
<input id="stSubj2" type="number" ng-model="stSubj2" min="3" max="6" placeholder="от 2 до 6">
<br>

<label for="stRank">Бал:</label>
<input class="rank" id="stRank" type="text" ng-model="stRank" disabled="disabled">

<div class="buttons">
<button ng-click="rankStudent()" ng-disabled="error || incomplete">&#10004; Класирай</button>
<button ng-click="cancel()">&#128473; Отказ</button>
</div>
</form>

<h2>Класиране по минимален бал</h2>

<table>
  <tr>
    <th>№</th>
    <th>Училище</th>
    <th>Паралелка</th>
    <th>Минимален бал I класиране</th>
    <th>Минимален бал II класиране</th>
  </tr>
  <tr ng-repeat="clrnk in cls_rnks">
    <td>{{ clrnk.number   }}</td>
    <td>{{ clrnk.schlName }}</td>
    <td>{{ clrnk.clsName  }}</td>
    <td>{{ clrnk.min_rank_I  | number : 2 }}</td>
    <td>{{ clrnk.min_rank_II | number : 2 }}</td>
  </tr>
</table>

<p><strong>Внимание</strong>: Това приложение и информацията в него са
предоставени с цел да бъдат полезни. Класирането на ученика може да служи
само и единствено за справка.</p>

</div>

<footer>
<hr />
<p class="copy">Автор &copy; 2019 Георги Д. Сотиров</p>
</footer>

</body>

</html>
