/* 7klas Application styles */

/* Small screens */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }

  .text-right { text-align: left }
}

/* Large screens */
@media only screen and (min-width: 768px) {
	.col-1  { width: 8.33%   }
	.col-2  { width: 16.66%  }
	.col-3  { width: 25%     }
	.col-4  { width: 33.33%  }
	.col-5  { width: 41.66%  }
	.col-6  { width: 50%     }
	.col-7  { width: 58.33%  }
	.col-8  { width: 66.66%  }
	.col-9  { width: 75%     }
	.col-10 { width: 83.33%  }
	.col-11 { width: 91.66%  }
	.col-12 { width: 100%    }
	.col    { width: 100%    }

  .text-right   { text-align: right   }
}

/* All screens */
@media screen {
  * { box-sizing: border-box }

  a.nav-link {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none;
  }

  body {
    font-family: Verdana, sans-serif;
    font-size: 1em;
  }

  button, button.btn, button.btn-primary {
    background-color: #33f !important;
    border: none;
    color: #fff !important;
    cursor: pointer;
    font: inherit;
    padding: 8px 16px;
    vertical-align: middle;
  }

  button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  button:disabled:hover {
    box-shadow: none;
  }

  button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

  div.container {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  div.row {
    display: flex;
    flex-wrap: wrap;
  }

  div.row::before { content: ""; display: table }
  div.row::after { content: ""; clear: both }

  h1, h2 {
    font-weight: 400;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 10px 0;
  }

  h1 { font-size: 2.5em }
  h2 { font-size: 1.8em }
  h3 { font-size: 1.5em }

  input {
    font: inherit;
    display: inline-block;
    margin: 0.3em;
  }

  input.form-control-plaintext {
    background-color: inherit;
    border: none;
  }

  label {
    display: inline-block;
    margin: 0.3em;
  }

  li.nav-item {}

  nav.bg-primary { background-color: #33f }

  nav.navbar-dark a.nav-link { color: #fff }
  nav.navbar-dark a.nav-link:hover { color: #fcf }

  nav.navbar-expand a.nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }

  nav.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  nav.navbar-expand, nav.navbar-default { flex-flow: row nowrap }

  nav.navbar-expand ul.navbar-nav {
    flex-direction: row;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }

  nav.fixed-top, nav.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  table, table.table, table.table-striped {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  td, th { padding: 8px 8px }

  td { border-bottom: 1px solid #ddd }

  th {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: left;
    vertical-align: middle;
  }

  table.table-striped tr:first-child {
    background-color: #9ff;
  }

  table.table-striped tr:nth-child(2n) {
    background-color: #cff;
  }

  utl.nav, ul.navbar-nav {
    display: flex;
    list-style: none;
  }

  .text-center  { text-align: center  }
  .text-justify { text-align: justify }
  .text-left    { text-align: left    }
}
